@import url(https://fonts.googleapis.com/css?family=Share+Tech+Mono&display=swap);
footer {
  height: 50px;
  background: pink; }

.hidden {
  display: none; }

.disabled {
  pointer-events: none; }

.gray {
  color: #8a8a96; }
  .gray .tkn-range-slider .noUi-base .noUi-connects .noUi-connect {
    background-color: #8a8a96; }

.tkn-range-slider.noUi-horizontal {
  height: 9px;
  border: none; }

.tkn-range-slider.noUi-connect {
  background: #00b1f2; }

.tkn-range-slider .noUi-base .noUi-connects {
  /* .noUi-connect:first-child{
                background-color: #d5d5ea;
                
            } */ }

.tkn-range-slider .noUi-base .noUi-origin .noUi-handle {
  /* &.noUi-handle-lower{
                    height: 1px;
                    width: 1px;
                    opacity: 0;
                } */ }

.tkn-body-wrapper .tkn-cards-screens .tkn-card-header {
  height: 60px; }

.tkn-body-wrapper .tkn-cards-screens .tkn-card-limit-title {
  height: 86px;
  background-color: #f2f7fd; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-card-limit-title .title-section {
    position: relative;
    width: 100%;
    text-align: center; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-card-limit-title .title-section .back-button {
      position: absolute;
      left: 20px;
      width: 10px;
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      cursor: pointer; }

.tkn-body-wrapper .tkn-cards-screens .tkn-card-selection {
  margin-top: 60px;
  /* &.hidden{
                display: none;
            } */ }
  .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible {
    margin: 0 -20px; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible .select-card-title {
      margin: 81px auto; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible .tkn-cards.card-carousel-screen-1 {
      margin: 0; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible .tkn-cards.card-carousel-screen-1 .tkn-card {
        -webkit-transform: scale(0.9);
                transform: scale(0.9);
        opacity: 0.8;
        max-width: 318px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible .tkn-cards.card-carousel-screen-1 .tkn-card.slick-center.slick-current {
          -webkit-transform: scale(1);
                  transform: scale(1);
          opacity: 1; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .sm-visible .tkn-cards.card-carousel-screen-1 .tkn-card .card-image {
          max-width: 318px;
          width: 100%; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .select-card-title {
    font-size: 17px;
    text-align: center; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards {
    margin-top: 80px; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card {
      position: relative;
      cursor: pointer;
      max-width: 380px;
      margin: auto;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      /* position: absolute;
                        top: 0;
                        left: 0;
                        padding: 18px 35px 14px;
                        height: 235px; */ }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card:hover {
        -webkit-transform: translateY(-10px);
                transform: translateY(-10px); }
        .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card:hover img {
          box-shadow: 0px 5px 14px -1px #ccc; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-image {
        max-width: 380px;
        width: 100%; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-selector {
        position: absolute;
        top: 18px;
        left: 25px;
        height: 33px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-selector img {
          width: 33px; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-number {
        position: absolute;
        top: 71px;
        left: 25px;
        right: 24px;
        font-size: 21px;
        color: #ffffff;
        font-family: 'Share Tech Mono', monospace; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-details-headings {
        position: absolute;
        bottom: 38px;
        left: 25px;
        right: 24px;
        font-size: 10px;
        color: #dbdbdb; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-card-selection .tkn-cards .tkn-card .card-details {
        position: absolute;
        bottom: 14px;
        left: 25px;
        right: 24px;
        color: #ffffff;
        font-family: 'Share Tech Mono', monospace; }

.tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection {
  padding-bottom: 60px;
  min-height: calc(100vh - 146px);
  background-color: #f5f5f5; }
  @media (max-width: 767px) {
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection {
      padding-bottom: 0; } }
  @media (max-width: 767px) {
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper {
      padding: 0;
      position: relative; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .dummy-div {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        z-index: 1; } }
  .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 {
    padding: 20px 0;
    background-color: #ffffff; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2.slick-dotted.slick-slider .slick-track {
      padding-bottom: 20px; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2.slick-dotted.slick-slider .slick-dots {
      background-color: #ffffff;
      bottom: -10px;
      transition: top 0.3s;
      box-shadow: 0px -1px 5px #d5d5ea; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2.slick-dotted.slick-slider .slick-dots li {
        height: 10px;
        width: 10px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2.slick-dotted.slick-slider .slick-dots li button {
          line-height: 20px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2.slick-dotted.slick-slider .slick-dots li button::before {
            font-size: 20px; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card {
      position: relative;
      cursor: pointer;
      max-width: 230px;
      margin: auto;
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
      opacity: 0.8; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card:focus {
        outline: none; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card.slick-center.slick-current {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 1; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-image {
        width: 100%; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-selector {
        position: absolute;
        top: 15px;
        left: 15px;
        height: 20px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-selector img {
          width: 20px; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-number {
        position: absolute;
        top: 42px;
        left: 15px;
        right: 14px;
        font-size: 13px;
        color: #ffffff;
        font-family: 'Share Tech Mono', monospace; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-details-headings {
        position: absolute;
        bottom: 23px;
        left: 15px;
        right: 14px;
        font-size: 6px;
        color: #dbdbdb; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-cards.card-carousel-screen-2 .tkn-card .card-details {
        position: absolute;
        bottom: 8px;
        left: 15px;
        right: 14px;
        font-size: 9px;
        color: #ffffff;
        font-family: 'Share Tech Mono', monospace; }
  @media (max-width: 767px) {
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div {
      background-color: #ffffff;
      position: absolute;
      left: 0;
      right: 0;
      transition: top 0.3s; } }
  .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .card-number-message {
    padding: 19px 20px;
    font-size: 16px;
    border-top: 1px solid #f2f2fd;
    border-bottom: 1px solid #f2f2fd;
    background-color: #ffffff; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container {
    padding: 0 80px; }
    @media (max-width: 767px) {
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container {
        padding: 0; } }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown {
      padding-top: 40px;
      font-size: 16px;
      font-weight: 600;
      position: relative;
      z-index: 1; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .selected-option {
        width: 420px;
        padding: 20px 120px 20px 20px;
        background-color: white;
        position: relative; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .selected-option img {
          position: absolute;
          right: 27px;
          width: 9px;
          -webkit-transform: rotate(90deg);
                  transform: rotate(90deg);
          top: 23px;
          cursor: pointer; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .all-options {
        position: absolute;
        z-index: 3;
        width: 420px;
        border: 1px solid #f2f2fd;
        box-shadow: 0px 0px 4px #d5d5ea;
        top: 40px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .all-options .option {
          width: 100%;
          padding: 20px 20px 20px 40px;
          border-bottom: 1px solid #f2f2fd;
          font-weight: normal;
          background-color: #ffffff;
          cursor: pointer;
          position: relative; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .all-options .option img {
            position: absolute;
            top: 28px;
            left: 20px;
            width: 11px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .all-options .option.selected {
            font-weight: 600; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .tkn-card-selection-dropdown .all-options .option:hover {
            background-color: #f2f2fd;
            font-weight: 600; }
    @media (max-width: 767px) {
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner {
        padding: 0px 20px; } }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits {
      padding-top: 20px; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits .title-bar {
        height: 60px;
        display: flex;
        background: #f2f7fd;
        align-items: center;
        position: relative;
        width: 100%;
        padding-left: 21px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits .title-bar img {
          right: 0;
          height: 88px;
          position: absolute;
          bottom: 0; }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits.sm-visible {
        margin-top: 0;
        padding-top: 30px; }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits.sm-visible .title-bar {
          border-radius: 8px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .my-limits-banner .my-limits.sm-visible .title-bar img {
            height: 81px; }
    .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content {
      /* margin: auto;
                        max-width: 1020px; */ }
      .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content {
        background-color: #ffffff;
        padding: 20px 0; }
        @media (max-width: 767px) {
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content {
            padding-bottom: 0; } }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section {
          padding: 0 20px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .amount {
            font-size: 18px;
            font-weight: bold; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .rupee {
            width: 9px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .utilization {
            font-size: 16px; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .pin-based .left {
            width: 280px;
            border-right: 1px solid #f2f2fd; }
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .pin-based .right {
            margin-left: 99px;
            width: 280px; }
            @media (max-width: 767px) {
              .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .section .pin-based .right {
                margin-left: 0;
                padding-left: 20px; } }
        @media (max-width: 767px) {
          .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .manage-limits-button {
            width: 100%; } }
        .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .tkn-scrollable-div .tkn-card-selection-container .limit-content .content .subtext.sm-visible {
          padding: 10px 20px 20px;
          color: #a8a8a8;
          background-color: #f5f5f5; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .sm-hidden.subtext-section {
    padding: 0 80px; }
  .tkn-body-wrapper .tkn-cards-screens .tkn-after-card-selection .sbi-wrapper .subtext {
    padding: 0px 20px;
    color: #a8a8a8; }

.tkn-body-wrapper .tkn-manage-limits-screen {
  /* For Mobile screens*/ }
  .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-manage-limits-header .back-button {
    left: 20px; }
  .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-header {
    border-bottom: 1px solid #f2f2fd; }
    .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-header .tabs {
      padding: 0; }
      .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-header .tabs .tab:not(:first-child) {
        margin-right: 0; }
  .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-body {
    padding: 0; }
    .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-body .content-wrapper {
      padding: 0; }
      .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-body .content-wrapper .sbi-button-group {
        padding: 0 20px; }
        .tkn-body-wrapper .tkn-manage-limits-screen .sm-visible .tkn-spends-section .tabs-body .content-wrapper .sbi-button-group .sbi-link {
          margin-top: 40px; }

.tkn-body-wrapper .tkn-manage-limits-screen .tkn-manage-limits-header {
  padding-top: 40px;
  padding-bottom: 60px;
  align-items: flex-start;
  position: relative; }
  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-manage-limits-header .back-button {
    position: absolute;
    left: 60px;
    width: 10px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    cursor: pointer; }
    @media (max-width: 767px) {
      .tkn-body-wrapper .tkn-manage-limits-screen .tkn-manage-limits-header .back-button {
        left: 20px; } }
  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-manage-limits-header .sbi-wrapper {
    text-align: center; }
    .tkn-body-wrapper .tkn-manage-limits-screen .tkn-manage-limits-header .sbi-wrapper .sub-text {
      margin-top: 13px; }

.tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section {
  height: calc(100vh - 162px);
  background-color: #f5f5f5; }
  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header {
    background-color: #ffffff; }
    @media (max-width: 767px) {
      .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header {
        border-bottom: 1px solid #f2f2fd; }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .sbi-wrapper {
          padding: 0;
          margin: unset; }
          .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .sbi-wrapper .tabs {
            padding: 0;
            justify-content: center; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .sbi-wrapper .tabs .tab:not(:first-child) {
              margin-right: 0; } }
    .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .tabs {
      padding: 0 80px; }
      .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .tabs .tab {
        padding: 20px 0px;
        width: 123px;
        font-size: 16px;
        color: #8a8a96;
        font-weight: 400;
        margin-right: 60px;
        cursor: pointer;
        text-align: center; }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .tabs .tab:hover {
          color: #00b1f2;
          font-weight: 600;
          border-bottom: 2px solid #00b1f2; }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-header .tabs .tab.active {
          color: #00b1f2;
          font-weight: 600;
          border-bottom: 2px solid #00b1f2; }
  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body {
    background-color: #f5f5f5;
    padding: 40px 0px; }
    @media (max-width: 767px) {
      .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body {
        padding: 0; }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .sbi-wrapper {
          padding: 0; }
          .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .sbi-wrapper .content-wrapper {
            padding: 0; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .sbi-wrapper .content-wrapper .sbi-button-group {
              padding: 0 20px; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .sbi-wrapper .content-wrapper .sbi-button-group .sbi-link {
                margin-top: 40px; } }
    .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper {
      padding: 0 80px; }
      .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content {
        display: none;
        /* opacity: 0;
                                transform: translateX(100%);
                                transition: transform 0.3s; */ }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content.active {
          display: block;
          /* z-index: 2;
                                    opacity: 1;
                                    transform: translateX(0);
                                    transition: transform 0.3s; */ }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section {
          background-color: #ffffff;
          padding: 26px 0; }
          .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 30px; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch input {
              opacity: 0;
              width: 0;
              height: 0;
              /* &:focus + .slider {
                                                box-shadow: 0 0 1px #000000;
                                            } */ }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch input:checked + .slider {
                background-color: #00b1f2; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch input:checked + .slider:before {
                -webkit-transform: translateX(26px);
                        transform: translateX(26px); }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch .slider {
              position: absolute;
              cursor: pointer;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              background-color: #ccc;
              transition: .4s;
              border-radius: 30px; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .switch .slider:before {
                position: absolute;
                content: "";
                height: 34px;
                width: 34px;
                left: 0px;
                bottom: -2px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
                box-shadow: 0 0 5px 0 #d5d5ea; }
          .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section {
            padding: 0 20px; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .sub-text {
              color: #a8a8a8;
              margin-top: 5px; }
              @media (max-width: 767px) {
                .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .sub-text {
                  margin-top: 20px; } }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .input-label {
              width: 301px; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .input-label .info {
                margin-left: 5px;
                font-size: 10px;
                color: #a8a8a8; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit {
              margin-left: 61px;
              align-items: center; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit .rupee {
                height: 14px; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit .value {
                width: 100px;
                margin-left: 10px;
                text-align: right; }
                .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit .value input[type="text"] {
                  height: 32px;
                  width: 100%;
                  text-align: right;
                  border: 1px solid #8ed7e6;
                  box-shadow: 0px 0px 3px #d5d5ea;
                  padding-right: 5px; }
                  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit .value input[type="text"]:focus {
                    outline-color: #00b1f2; }
                  .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .set-limit .limit .value input[type="text"]:invalid {
                    outline-color: salmon; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section .limit-slider {
              margin-bottom: 40px; }
            .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section.limit-count .set-limit .limit .value {
              margin-left: 18px; }
              .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section.limit-count .set-limit .limit .value input[type="text"] {
                height: 32px;
                width: 80%;
                text-align: right;
                box-shadow: 0px 0px 3px #d5d5ea;
                padding-right: 5px; }
                .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section.limit-count .set-limit .limit .value input[type="text"]:focus {
                  outline-color: #00b1f2; }
                .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content section .toggle-section.limit-count .set-limit .limit .value input[type="text"]:invalid {
                  outline-color: salmon; }
        .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content .disclaimer {
          padding: 0 20px; }
          .tkn-body-wrapper .tkn-manage-limits-screen .tkn-spends-section .tabs-body .content-wrapper .tab-content .content .disclaimer span {
            color: #a8a8a8; }

.tkn-body-wrapper .tkn-changes-applied .tkn-card-header {
  height: 60px; }

.tkn-body-wrapper .tkn-changes-applied .tkn-title-bar {
  height: 156px;
  background-color: #f2f7fd;
  align-items: flex-end;
  justify-content: center; }
  .tkn-body-wrapper .tkn-changes-applied .tkn-title-bar .img-container img {
    width: 182px;
    vertical-align: bottom;
    /* @media (max-width: 767px) {
                        width: 252px;
                    } */ }

.tkn-body-wrapper .tkn-changes-applied .success-message {
  margin: 60px auto 0 auto;
  padding: 0 30px;
  max-width: 780px; }
  .tkn-body-wrapper .tkn-changes-applied .success-message div {
    font-size: 16px; }
    .tkn-body-wrapper .tkn-changes-applied .success-message div a {
      font-size: 16px; }
  .tkn-body-wrapper .tkn-changes-applied .success-message button {
    font-size: 14px;
    font-weight: normal; }

.tkn-body-wrapper .tkn-exit-without-save-screen {
  padding: 60px 20px 0; }
  .tkn-body-wrapper .tkn-exit-without-save-screen .head-image {
    text-align: center; }
  .tkn-body-wrapper .tkn-exit-without-save-screen .content {
    text-align: center; }
    .tkn-body-wrapper .tkn-exit-without-save-screen .content .content-heading {
      font-size: 20px;
      font-weight: bold; }
  .tkn-body-wrapper .tkn-exit-without-save-screen .sbi-button-group {
    margin-top: 60px; }
    .tkn-body-wrapper .tkn-exit-without-save-screen .sbi-button-group a {
      margin-top: 40px; }

